// Colours
$colour-background: #be0505;
$colour-equal: #e65913;
$colour-operator: #f8f8f8;
$color-screen: #e5e1e1;

// font
$font-all: "Rubik", sans-serif;

* {
  font-family: $font-all ;
  color: $colour-background;
}

#calculatorBody{
  width: fit-content;
  height: fit-content;
  background: $colour-background;
  margin: auto;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px;
}

#output{
  width: 315px;
  height: 200px;
  display: inline-block;
  text-align: right;
  font-size: 1.5rem;
  font-weight: bolder;
  font-family: $font-all;
  margin: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  padding-right: 20px;
  border-radius: 10px;
  background: $color-screen;
  color: black;
}

#CE {
  background:$colour-operator;
  background-color: $colour-operator;
 color: black;
}

input {
  cursor: pointer;
  width: 65px;
  height: 65px;
  border-radius: 10px;
  padding: 15px;
  font-size: 1.7rem;
  margin: 10px; 
  text-decoration: solid;
  font-family: $font-all;
  border: 1px solid black;
  border-left: 2px solid black;
  font-weight: bolder;
  outline: none;
  background-color: $colour-background;
  color: $colour-operator;
  box-shadow: 2px 2px 4px black;
;
  
}

#equals{
  background:$colour-operator;
  background-color: $colour-background;
  color: $colour-operator;
}